In [24]:
import pandas as pd
import numpy as np
import yfinance as yf
import hvplot

In [42]:
# global variables 
trading_days_year = 252
total_days_year = 365
thirty_years_ago = (pd.Timestamp.today() - pd.Timedelta(days = total_days_year * 30)).date()
yesterday = (pd.Timestamp.today() - pd.Timedelta(days = 1)).date()
yesterday

datetime.date(2023, 4, 24)

In [54]:
tickers = yf.Tickers('msft aapl goog')
data = tickers.history(start=thirty_years_ago, end=yesterday)
data = data[['Close', 'Volume']]
data.dropna(inplace= True)
data.head()

[*********************100%***********************]  3 of 3 completed

               Close                          Volume
                AAPL      GOOG       MSFT       AAPL         GOOG      MSFT
Date
2004-08-19  0.466747  2.499133  17.069757  388920000  897427216.0  46293000
2004-08-20  0.468115  2.697639  17.120106  316780800  458857488.0  46494800
2004-08-23  0.472371  2.724787  17.195869  254660000  366857939.0  39572200
2004-08-24  0.485594  2.611960  17.195869  374136000  306396159.0  40835300
2004-08-25  0.502312  2.640104  17.391552  505618400  184645512.0  53512700